extends ../../layouts/admin

block content

  section.section-padding
      hr.bottom-line

      if errors
        ul
         for error in errors
           li!= error.msg

      .card
        .card-block
          .card-header
            i.fa.fa-table 
            |  #{title}
            a(href='/admin/posts' class='m-auto float-right btn btn-info') Go Back
          .card-body
            .table-responsive
              table#dataTable.table.table-bordered(width='100%', cellspacing='0')

                form(method='POST' action='')
                  tbody
                    tr.form-group
                      td
                        label(for='title') Title:
                      td 
                        input#title.form-control(type='text', placeholder='Title of post' name='title' required='true' value=(undefined===post ? '' : post.title) )

                    tr.form-group
                      td
                        label(for='content') Content:
                      td 
                        textarea#content.form-control(type='textarea', rows="5" cols="80" placeholder='Content' name='content' required='true')= (undefined===post ? '' : post.content)

                    tr.form-group
                      td
                        label Category:
                      td
                        select(name='category', class='custom-select')
                          option(value='') -- выберите категорию --
                          for category in categories
                            option(value=category._id, selected=(category.checked ? 'selected' : false)) #{category.name}

                    tr.form-group
                      td
                        label(for=status) Status:
                      td 
                        - lists = ['draft', 'published', 'private']
                        
                        for list in lists
                          div(style='display: inline; padding-right:10px;')
                            input.checkbox-input(type='radio', name='status', id='status_' + list, value=list, checked=(undefined===post ? '' : (post.status===list)?  'checked':false) )
                            label(for='status_' + list) #{list}

                    tr.form-group
                      td(colspan=2)
                         button.btn.btn-primary(type='submit') Submit
